{% extends "layout.html" %}
{% block content %}
  {% for post in posts %}
    <article class="content-section">
      <div class="article-header">
        <img class="article-img"
             src="https://ui-avatars.com/api/?name={{post.author}}"
             alt="{{ post.author }}'s profile picture"
             width="42"
             height="42"
             loading="lazy">
        <div class="article-body">
          <div class="article-metadata">
            <a class="author-link" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2>
            <a class="article-title" href="#">{{ post.title }}</a>
          </h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock content %}